*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*==============Header==============*/
header{
    width: 100%;
    height: 55px;
    background: #f7efe1;
    position: sticky;
    top: 0;
}

.Header_Contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.Footer_Img{
    height: 50px;
}

.Header_Logo {
    width: 100%;
}
.Header_Menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.Header_Menu ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}


/*==============Menu==============*/

.Menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#62a60e44,#61a60e44),url("../img/FondoGis.webp")no-repeat;
    background-position: center;
    background-size: cover;
}
.Menu_Contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu_Contenedor h1{
    font-size: 2.5em;
}

.Menu_Navegador {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    place-items: center;
    gap: 20px;
}
.Menu_Opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 30px;
}

.Menu_Opciones img{
    width: 250px;
}

.Menu_Opciones h2{
    font-size: 2em;
}


.Menu_Opciones input{
    width: 200px;
    height: 30px;
    font-size: 1.1em;
    font-weight: 800;
    color:#000000;
    border-radius: 25px;
    border: none;
    border:solid 2px #0032a0;
    transition: 0.5s;
    background: transparent;
}

.Menu_Opciones input:hover{
    transform: translateY(-8px);
    background-color: #0032a0;
    color: #f7efe1;
}

.Menu_Opciones input:active{
    transform: translateY(2px);
}

@media(max-width:767px){
    .Menu{
        height: auto;
    }
}

/*==============Foter==============*/
.Footer{
    position: fixed;
    bottom: 0;
}


.Fotter_Contenedor {
    width: 100%;
    height: 50px;
    background: #1a1c20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Montserrat' , sans-serif;
}
.Footer_Logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #f7efe1;
}

.Footer_Logo img{
    height: 100%;
}